body {
  background-color: #e0e0e0;
}
.wrapp-popup {
  width: 400px;
  height: 300px;
}
.book-popup {
  display: block;
  font-size: larger;
  padding: 10px 5px;
  text-align: center;
}
.startReader-popup-wrapp {
  display: flex;
  justify-content: center;
}
.startReader-popup {
  border: none;
  padding: 5px;
  width: 55px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  margin-bottom: 5px;

  &:hover {
    background-color: #45a049;
  }
  &:disabled {
    background-color: #314632;
  }
}
