.wrapp-popup {
  width: 400px;
  height: 300px;
}
.book-popup {
  display: block;
  font-size: larger;
  padding: 10px 5px;
}
.startReader-popup {
  border: none;
  padding: 5px;
  width: 55px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;

  &:hover {
    background-color: #45a049;
  }
}
