body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

#optionsForm {
  max-width: 600px;
  margin: auto;
  background-color: #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#book:hover {
  background-color: #45a049;
}
.link-book {
  display: block;
  font-size: larger;
  margin-top: 10px;
}
textarea {
  width: 100%;

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  resize: vertical;
}
#styleParagraphs {
  margin-top: 5px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 6px;

  & > p {
    margin-top: 20px;
  }

  & > p:hover {
    margin-left: 10px;
  }
}
.selected {
  margin-left: 20px;
}
